.app-barcode {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  padding-top: 4px;
}

.app-qr-code-visual {
  margin-top: 0px;
}

.app-barcode .app-col {
  overflow: hidden;
  padding-left: 10px;
  text-align: center;
}

.app-barcode .app-name {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: -0.5px;
  margin-top: 0px;
  -webkit-line-clamp: 2;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-barcode .app-location {
  font-family: monospace;
  font-size: 19px;
  letter-spacing: 2px;
  font-weight: bold;
  padding-top: 4px;
}
