body {
  margin: 0;
}

.app-print-zone {
  background: grey;
  box-shadow: none;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

app-toaster,
body > header,
body > div:not(.print-one),
.app-modal--print-one > *:not(.app-print-one--preview),
.app-print-one--preview > div:not(.app-barcode) {
  display: none;
}
