
.app-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app-form > label {
  margin-top: 1rem;
  min-width: 12rem;
  width: 50%;
}

.app-form > label > [name] {
  margin-top: .5rem;
}
