html * {
  box-sizing: border-box;
}

body {
  --primary: #604a42;
  --secondary: #adcfdc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: var(--primary);
  background-color: var(--secondary);
}

button {
  font-size: inherit;
  padding: 0.6rem 1rem;
  border: 0.4rem solid;
  color: var(--primary);
  font-weight: bold;
  margin-top: 2rem;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
  background-color: snow;
}

button + button {
  margin-left: 2rem;
}
