html * {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

h1 {
  background-color: var(--color-grey-light);
  padding: 0.6rem 1rem;
}

a {
  color: var(--color-accent, green);
}
