html * {
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
}

h1 {
  background-color: var(--color-white);
  padding: .6rem 1rem;
}

h2 {
  text-decoration: underline;
}

a {
  color: var(--color-accent, green);
}

a[target="_blank"]::after {
  content: " \25F3";
}

small {
  display: inline-block;
}
