[class*="highlight"] {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: .2rem .5rem;
}

.highlight-accent {
  background-color: var(--color-accent, blue );
  color: var(--color-white, white );
}

.highlight-accent-light {
  background-color: var(--color-accent-light, powderblue );
}

.highlight-grey {
  background-color: var(--color-grey-light);
}

.highlight-green {
  background-color: var(--color-green);
}

.highlight-yellow {
  background-color: var(--color-yellow);
}

.highlight-red {
  background-color: var(--color-red);
}
