/* stylelint-disable rule-empty-line-before */

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }
  .grid {
    gap: 1rem;
  }
  .col-3 {
    grid-template-columns: 1fr;
  }
  label {
    grid-gap: .5rem;
  }
  button, input, textarea, select {
    height: 2.6rem;
  }
  div.app-modal--search-results {
    max-width: 100%;
    width: 100%;
  }
  div.app-search-result img {
    padding: 0;
    max-width: 100%;
    max-height: 32vh;
    margin: 0 auto 1rem auto;
  }
  .col app-form form {
    grid-template-columns: 1fr !important;
    grid-gap: 0;
  }
}