
.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.mts {
  margin-top: .5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mr2 {
  margin-right: 2rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mbs {
  margin-bottom: .5rem;
}
