
.w80 {
  width: 80%;
}

.w30 {
  width: 30%;
}

.w40 {
  width: 40%;
}

.w60 {
  width: 60%;
}

.w20 {
  width: 20%;
}

.w100, .full-width, .parent-width {
  width: 100%;
}

.w4 {
  width: 4rem;
}

.mts {
  margin-top: .5rem;
}

.m1 {
  margin: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mr2 {
  margin-right: 2rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mbs {
  margin-bottom: .5rem;
}

.mls {
  margin-left: .5rem;
}

.ml1 {
  margin-left: 1rem;
}

.mvs {
  margin: .5rem 0;
}

.mv {
  margin: 1rem 0;
}

.ph1 {
  padding: 0 1rem;
}

.pvs {
  padding: .5rem 0;
}

.ps {
  padding: .5rem;
}

.pbs {
  padding-bottom: .5rem;
}
