.stuff-finder {
  --color-primary: #604a42;
  --color-accent: royalblue;
  --color-accent-light: #e0e8ef;
  --color-white: whitesmoke;
  --color-grey: #666;
  --color-grey-light: #ebebeb;
  --color-shade: rgba(0, 0, 0, .4);
  --color-success: green;
  --color-success-light: #daecda;
  --color-error: red;
  --color-error-light: rgba(250,0,0,.1);
  --elevation-t-rex: 200;
  --elevation-giraffe: 100;
  --elevation-bear: 50;
  --elevation-child: 30;
  --elevation-ant: 10;
}
