<div class="loader backdrop hidden">
    <div class="lds-dual-ring"></div>
</div>

<script>
    class ComponentLoader extends window.BaseModel {
      constructor () {
        super('loader')
        this.isLoading = false
      }

      setupElements () {
        this.el = document.querySelector('.loader')
      }

      setupListeners () {
        this.on('set-loading', this.setLoading)
        this.on('toggle-loading', this.toggleLoading)
      }

      async toggleLoading () {
        this.isLoading = !this.isLoading
        return this.update()
      }

      async setLoading (active = false) {
        this.isLoading = active
        return this.update()
      }

      update () {
        this.el.classList.toggle('hidden', !this.isLoading)
      }
    }
    // eslint-disable-next-line no-new
    new ComponentLoader()
</script>

<style>
    .loader {
        z-index: var(--elevation-t-rex, 200);
    }

    .lds-dual-ring {
        display: inline-block;
        height: 6rem;
        width: 6rem;
    }

    .lds-dual-ring:after {
        animation: lds-dual-ring 1.2s linear infinite;
        border: .5rem solid var(--color-white, whitesmoke);
        border-color: var(--color-white, whitesmoke) transparent var(--color-white, whitesmoke) transparent;
        border-radius: 50%;
        content: " ";
        display: block;
        height: 5rem;
        width: 5rem;
    }

    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
