<script>
    class ComponentModal extends window.BaseModel {
      constructor () {
        super('modal')
      }

      setupListeners () {
        this.on('modal-close', this.close)
        this.on('modal-open', this.open)
      }

      open (cls) {
        const backdropEl = document.querySelector('.backdrop.' + cls)
        if (!backdropEl) {
          return this.error('cannot open non existing modal, please provide a class in the event')
        }
        backdropEl.classList.remove('hidden')
      }

      close () {
        const backdropEl = document.querySelector('.backdrop:not(.hidden)')
        if (!backdropEl) {
          return this.error('cannot close non existing modal')
        }
        this.fadeOut(backdropEl)
      }
    }
    // eslint-disable-next-line no-new
    new ComponentModal()
</script>


<style>
    .component--modal {
      background-color: var(--color-white, whitesmoke);
      border: .3rem solid var(--color-primary, steelblue);
      border-radius: var(--border-radius, .3rem);
      max-height: 90%;
      max-width: 50rem;
      overflow: auto;
      padding: .7rem 2rem 1rem;
      width: var(--settings-width, 80vw);
      z-index: var(--elevation-giraffe, 100);
    }

    @media only screen and (max-width: 600px) {
      .component--modal {
        border: none;
        height: 100%;
        max-height: inherit;
        max-width: inherit;
        padding: 0 .5rem;
        width: 100%;
      }
    }
</style>
