<div class="component--search backdrop hidden" onclick="emit('modal-close')">
    <div class="component--modal center" onclick="event.stopPropagation()">
        <h2 class="search--title"></h2>
        <div class="search--results"></div>
        <div class="row center mt3">
            <button onclick="emit('modal-close')">🗙 Close</button>
            <button onclick="emit(['modal-close','search-retry'])">Retry ✔️</button>
        </div>
    </div>
</div>

<script>
    class ComponentSearch extends window.BaseModel {
      constructor () {
        super('search')
      }

      setupElements () {
        this.el = document.querySelector('.component--search')
        this.title = document.querySelector('.search--title')
        this.results = document.querySelector('.search--results')
      }

      setupListeners () {
        this.on('search-complete', this.onSearchComplete)
      }

      onSearchComplete (data) {
        this.log(`displaying ${data.results.length} results...`)
        this.title.textContent = data.title
        let html = '<div class="header"><span>name</span><span>location</span></div>'
        if (data.results.length === 0) {
          html = 'Sorry nothing was found ' + this.sorryAscii()
        } else {
          html += data.results.map(result => `<div><span>${result.name}</span><span>${result.location}</span></div>`).join('')
        }
        this.results.innerHTML = html
        this.emit('modal-open', 'component--search')
      }

      sorryAscii () {
        return window.pickOne(['[#´Д`]', '¯\\_(ツ)_/¯', 'ಠ_ಠ', '(⊙＿⊙\')', '(#+_+)', '(._.)', '(╯▅╰)', '╮ (. ❛ ᴗ ❛.) ╭'])
      }
    }
    // eslint-disable-next-line no-new
    new ComponentSearch()
</script>

<style>
    .search--results > div {
      display: flex;
      justify-content: space-between;
    }

    .search--results > div.header {
      color: var(--color-success-light, darkseagreen);
      font-family: monospace;
      text-decoration: underline;
    }

    .search--results > div.header + div {
      font-weight: bold;
    }
</style>
