<div class="component--search backdrop hidden" onclick="emit('modal-close')">
    <div class="component--modal col center" onclick="event.stopPropagation()">
        <h2 class="search--title"></h2>
        <div class="grow scrollable">
            <div class="search--results col middle"></div>
        </div>
        <div class="row center mt1 mbs">
            <button onclick="emit('modal-close')">&times; Close</button>
            <button onclick="emit(['modal-close','search-retry'])">Retry &check;</button>
        </div>
    </div>
</div>

<script>
    class ComponentSearch extends window.BaseModel {
      constructor () {
        super('search')
      }

      setupElements () {
        this.el = document.querySelector('.component--search')
        this.title = document.querySelector('.search--title')
        this.results = document.querySelector('.search--results')
      }

      setupListeners () {
        this.on('search-complete', this.onSearchComplete)
      }

      onSearchComplete (data) {
        this.log(`displaying ${data.results.length} results...`)
        this.title.textContent = data.title
        this.formatResults(data.results)
        this.emit('modal-open', 'component--search')
      }

      formatResults (results) {
        if (results.length === 0) {
          this.results.innerHTML = `<div class="mb1 mt1"><span class="highlight-grey">${this.sorryAscii()}</span></div><span>Sorry nothing was found.</span>`
          return
        }
        const locations = []
        const resultsPerLocation = {}
        results.forEach(result => {
          if (result.location && !locations.includes(result.location)) {
            locations.push(result.location)
          }
          if (!resultsPerLocation[result.location]) {
            resultsPerLocation[result.location] = []
          }
          resultsPerLocation[result.location].push(result)
        })
        this.results.innerHTML = ''
        let firstLegend = true
        let firstResult = true
        locations.forEach(location => {
          const groupEl = document.createElement('fieldset')
          groupEl.className = 'mb1'
          const labelEl = document.createElement('legend')
          labelEl.className = firstLegend ? 'bold' : ''
          firstLegend = false
          labelEl.textContent = location
          groupEl.appendChild(labelEl)
          resultsPerLocation[location].forEach(result => {
            const resultEl = document.createElement('div')
            resultEl.className = 'search--result col ' + (firstResult ? 'bold' : '')
            firstResult = false
            resultEl.innerHTML = `<div>${result.name}</div><small class="mbs">${result.details}</small>`
            groupEl.appendChild(resultEl)
          })
          this.results.appendChild(groupEl)
        })
      }

      sorryAscii () {
        return window.pickOne(['[#´Д`]', '¯\\_(ツ)_/¯', 'ಠ_ಠ', '(⊙＿⊙\')', '(#+_+)', '(._.)', '(╯▅╰)', '╮ (. ❛ ᴗ ❛.) ╭'])
      }
    }
    // eslint-disable-next-line no-new
    new ComponentSearch()
</script>

<style>
    .search--result small {
      opacity: .5;
    }
</style>
