<app-modal name="search">
    <h2 class="search--title"></h2>
    <div class="search--results col middle"></div>
    <div class="row center mt1 mbs">
        <button onclick="emit('app-modal--close')">&times; Close</button>
        <button onclick="emit(['app-modal--close','search-retry'])">Retry &check;</button>
    </div>
</app-modal>

<script>
    class ComponentSearch extends window.BaseModel {
      constructor () {
        super('search')
        this.on('search-complete', this.onSearchComplete)
      }

      onSearchComplete (data) {
        this.log(`displaying ${data.results.length} results...`)
        document.querySelector('.search--title').textContent = data.title
        const wrapper = document.querySelector('.search--results')
        this.formatResults(data.results, wrapper)
        this.emit('app-modal--search--open')
      }

      formatResults (results, wrapper) {
        if (results.length === 0) {
          wrapper.innerHTML = `<div class="mb1 mt1"><span class="highlight-grey">${this.sorryAscii()}</span></div><span>Sorry nothing was found.</span>`
          return
        }
        const locations = []
        const resultsPerLocation = {}
        results.forEach(result => {
          if (!locations.includes(result.location)) {
            locations.push(result.location)
          }
          if (!resultsPerLocation[result.location]) {
            resultsPerLocation[result.location] = []
          }
          resultsPerLocation[result.location].push(result)
        })
        wrapper.innerHTML = ''
        let firstLegend = true
        let firstResult = true
        locations.forEach(location => {
          const groupEl = document.createElement('fieldset')
          groupEl.className = 'mb1'
          const labelEl = document.createElement('legend')
          labelEl.className = firstLegend ? 'bold' : ''
          firstLegend = false
          labelEl.textContent = location || 'Somewhere'
          groupEl.appendChild(labelEl)
          resultsPerLocation[location].forEach(result => {
            const resultEl = document.createElement('div')
            resultEl.className = 'search--result col ' + (firstResult ? 'bold' : '')
            firstResult = false
            resultEl.innerHTML = `<div>${result.name}</div><small class="mbs">${result.details}</small>`
            resultEl.addEventListener('click', () => this.emit('edit-result', result))
            groupEl.appendChild(resultEl)
          })
          wrapper.appendChild(groupEl)
        })
      }

      sorryAscii () {
        return window.pickOne(['[#´Д`]', '¯\\_(ツ)_/¯', 'ಠ_ಠ', '(⊙＿⊙\')', '(#+_+)', '(._.)', '(╯▅╰)', '╮ (. ❛ ᴗ ❛.) ╭'])
      }
    }
    // eslint-disable-next-line no-new
    new ComponentSearch()
</script>

<style>
    .search--result small {
      opacity: .5;
    }
</style>
