<div class="settings--trigger" onclick="emit('settings-toggle')">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
        <circle cx="12" cy="12" r="3"></circle>
        <path
            d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
        </path>
    </svg>
</div>

<div class="settings backdrop hidden">
    <div class="settings--modal center">
        <h2>Settings</h2>
        <p class="settings--message error"></p>
        <div class="row wrap center">
            <label class="setting col center">
                <a href="//airtable.com/api" target="_blank" class="mb1">Airtable api base</a>
                <input name="airtable-api-base" onkeyup="emit('settings-validate')" placeholder="your api base" pattern="^app\w{14}$" required
                    maxlength="17" autofocus>
            </label>
            <label class="setting col center mt1">
                <a href="//airtable.com/account" target="_blank" class="mb1">Airtable api key</a>
                <input name="airtable-api-key" onkeyup="emit('settings-validate')" placeholder="your api key" pattern="^key\w{14}$" required
                    maxlength="17">
            </label>
            <label class="setting col center mt1">
                Airtable table name
                <input name="airtable-table-name" class="mts" onkeyup="emit('settings-validate')" pattern="^\S+$" placeholder="your table name"
                    required>
            </label>
            <label class="setting col center mt1">
                Airtable view name
                <input name="airtable-view-name" class="mts" onkeyup="emit('settings-validate')" pattern="^\S+$" placeholder="your table name"
                    required value="stuff-finder">
            </label>
        </div>
        <small class="mt2">
            Your credentials will be used to fetch/modify your own data stored on Airtable. These credentials are saved in your browser to avoid
            typing these over and over. Feel free to check this app source code on the <a href="https://github.com/Shuunen/stuff-finder"
                target="_blank">Github project page</a>.
        </small>
        <div class="row center mt3">
            <button onclick="emit('settings-toggle')">🗙 Close</button>
            <button class="settings--save" onclick="emit('settings-save')">Save ✔️</button>
        </div>
    </div>
</div>

<script>
    class Settings extends window.BaseModel {
      get isDisplayed () {
        return !this.settingsEl.classList.contains('hidden')
      }

      get formIsValid () {
        return (this.settings.base.checkValidity() && this.settings.key.checkValidity())
      }

      constructor () {
        super('settings')
        this.log('constructor')
        this.settings = {}
      }

      setupElements () {
        this.settingsEl = document.querySelector('.settings')
        this.settingsTriggerEl = document.querySelector('.settings--trigger')
        this.settingsSaveEl = document.querySelector('.settings--save')
        this.settingsMessageEl = document.querySelector('.settings--message')
        this.settings.base = document.querySelector('.settings--modal input[name="airtable-api-base"]')
        this.settings.key = document.querySelector('.settings--modal input[name="airtable-api-key"]')
        this.settings.table = document.querySelector('.settings--modal input[name="airtable-table-name"]')
        this.settings.view = document.querySelector('.settings--modal input[name="airtable-view-name"]')
      }

      setupListeners () {
        this.on('settings-set', this.setSettings)
        this.on('settings-action-required', this.setActionRequired)
        this.on('settings-validate', this.validate)
        this.on('settings-toggle', this.toggle)
        this.on('settings-save', this.save)
      }

      onLoad () {
        this.validate()
      }

      toggle () {
        this.validate()
        if (this.isDisplayed) {
          this.fadeOut(this.settingsEl)
        } else {
          this.settingsEl.classList.remove('hidden')
        }
      }

      setSettings (data) {
        Object.keys(data).forEach(key => {
          const value = data[key]
          if (this.settings[key]) {
            this.settings[key].value = value
          }
        })
      }

      getSettings () {
        const settings = {}
        Object.keys(this.settings).forEach(key => {
          settings[key] = this.settings[key].value
        })
        return settings
      }

      validate () {
        this.log('validate...')
        if (this.formIsValid) {
          this.settingsSaveEl.removeAttribute('disabled')
        } else {
          this.settingsSaveEl.setAttribute('disabled', true)
        }
      }

      save () {
        if (this.formIsValid) {
          this.emit('settings-set', this.getSettings())
          this.toggle()
        }
      }

      setActionRequired (data) {
        if (typeof data !== 'object') {
          this.error('settings-action-required is expecting an object')
        }
        const required = typeof data.required === 'boolean' ? data.required : false
        this.log('set action require to', required)
        this.settingsTriggerEl.classList.toggle('action-required', required)
        if (data.message) {
          this.log('set message to', data.message)
          this.settingsMessageEl.textContent = data.message
        }
      }
    }
    // eslint-disable-next-line no-new
    new Settings()
</script>

<style>
    .settings {
      z-index: var(--elevation-bear, 50);
    }

    .settings--trigger {
      color: var(--color-grey, grey);
      cursor: pointer;
      height: 2.5rem;
      overflow: hidden;
      position: absolute;
      right: 2rem;
      top: 2rem;
      width: 2.5rem;
      z-index: var(--elevation-child, 30);
    }

    .settings--trigger.action-required {
      animation-duration: 2s;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-name: bounce;
      color: var(--color-primary, steelblue);
      transform-origin: center bottom;
    }

    .settings--modal {
      background-color: var(--color-white, whitesmoke);
      border: .3rem solid var(--color-primary, steelblue);
      border-radius: var(--border-radius, .3rem);
      max-height: 90%;
      max-width: 50rem;
      overflow: auto;
      padding: .7rem 2rem 1rem;
      width: var(--settings-width, 80vw);
      z-index: var(--elevation-giraffe, 100);
    }

    @media only screen and (max-width: 600px) {
      .settings--modal {
        border: none;
        height: 100%;
        max-height: inherit;
        max-width: inherit;
        padding: .7rem;
        width: 100%;
      }
    }

    @keyframes bounce {
      from,
      20%,
      53%,
      80%,
      to {
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        transform: translate3d(0, 0, 0);
      }

      40%,
      43% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -30px, 0);
      }

      70% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate3d(0, -15px, 0);
      }

      90% {
        transform: translate3d(0, -4px, 0);
      }
    }
</style>
