<div class="component--speech col mt2">
    <div class="row center">
        <button class="speech--button big" onclick="emit('speech-recognition')">🔎 Search</button>
    </div>
    <small class="speech--hint m1"></small>
</div>

<script>
    class ComponentSpeech extends window.BaseModel {
      constructor () {
        super('speech')
        this.log('constructor')
        this.initRecognition()
        this.isMobile = typeof window.orientation !== 'undefined'
      }

      setupElements () {
        this.el = document.querySelector('.component--speech')
        this.buttonEl = document.querySelector('.speech--button')
        this.hintEl = document.querySelector('.speech--hint')
      }

      setupListeners () {
        this.on('speech-recognition', this.onStart)
      }

      onLoad () {
        this.setStatus('ready')
      }

      initRecognition () {
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition
        const recognition = new SpeechRecognition()
        recognition.lang = 'fr-FR' // TODO: not generic ^^"
        recognition.interimResults = false
        recognition.maxAlternatives = 1
        recognition.onresult = (event) => {
          const result = event.results[event.results.length - 1][0]
          this.onSuccess(result.transcript, result.confidence)
        }
        recognition.onspeechend = () => this.onEnd()
        recognition.onnomatch = () => this.onFail()
        recognition.onerror = (event) => this.onError(event.error)
        this.recognition = recognition
      }

      onSuccess (sentence, confidence) {
        this.recognitionSucceed = true
        this.log('sentence :', sentence)
        this.log('confidence : ' + confidence)
        this.emit('search-start', sentence)
      }

      onStart () {
        this.recognition.start()
        this.recognitionSucceed = false
        this.setStatus('listening')
      }

      onEnd () {
        this.recognition.stop()
        this.setStatus(this.recognitionSucceed ? 'ready' : 'failed')
      }

      onError (reason) {
        this.error('error occurred in recognition : ' + reason)
        this.onFail()
      }

      onFail () {
        this.setStatus('failed')
      }

      setStatus (status) {
        this.log('status : ' + status)
        let label = ''
        let hint = ''
        switch (status) {
          case 'listening':
            label = window.pickOne(['👂 Listening to you', '👂 Give it to me', '👂 Tell me'])
            hint = 'Say keywords about what you\'re looking for (ex. "tablet", "biking gloves")'
            break
          case 'ready':
            label = window.pickOne(['🔎 Search', '🔎 Find something', '🔎 Find'])
            hint = 'Search is ready for you sir, just press the button and say something.'
            break
          case 'no-match':
          case 'failed':
          default:
            label = window.pickOne(['🔎 Retry', '🔎 Try again'])
            hint = 'Search has fail, just press the button to try again.'
            break
        }
        this.buttonEl.textContent = label
        this.hintEl.textContent = hint
      }
    }
    // eslint-disable-next-line no-new
    new ComponentSpeech()
</script>
