<div class="toaster col center"></div>

<script>
    class Toaster extends window.BaseModel {
      constructor () {
        super('toaster')
      }

      setupElements () {
        this.toasterEl = document.querySelector('.toaster')
      }

      setupListeners () {
        this.on('show-toast', this.onShowToast)
      }

      onShowToast (data) {
        this.showToast(data.type, data.message, data.delay)
      }

      showToast (type = 'info', message = 'no message provided', delay = 3000) {
        this.log(`show toast type "${type}" with a delay of ${delay}ms`)
        const toastEl = document.createElement('p')
        toastEl.classList.add('toast', type)
        toastEl.innerHTML = message
        if (type === 'success') {
          toastEl.innerHTML += '✔️'
        }
        this.toasterEl.appendChild(toastEl)
        toastEl.addEventListener('click', () => this.fadeOut(toastEl, true))
        if (type === 'error') {
          return
        }
        this.log('call to fadeOut')
        setTimeout(() => this.fadeOut(toastEl), delay)
      }
    }
    // eslint-disable-next-line no-new
    new Toaster()
</script>

<style>
    .toaster {
        bottom: 1rem;
        position: absolute;
        width: 100%;
        z-index: var(--elevation-child, 30);
    }

    .toast {
        margin: .5rem 0;
        padding: .2rem 0.4rem;
        font-weight: bold;
    }

    .toast.error {
        background-color: var(--color-error, #da0000);
        color: var(--color-white);
    }
</style>
