@import 'tailwindcss';
@import './mui-chip.css' layer(utilities);

@theme {
  --breakpoint-xs: 360px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-purple-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-600 border border-current;
}

h1 {
  @apply text-4xl text-purple-700 font-medium;
}

h2 {
  @apply text-2xl text-purple-900;
}

h3 {
  @apply text-5xl sm:text-7xl md:text-[5rem] relative indent-6 md:indent-8 translate-y-10 md:translate-y-12 z-0 tracking-[1rem] sm:tracking-[1.5rem] md:tracking-[2rem] font-black text-transparent opacity-30 uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: grey;
}

.flex:not([class*='gap-']) {
  @apply gap-6;
}

.shu-toast {
  @apply print:hidden;
}
